<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.Content.Pipeline.Portable" version="3.6.0.1625" targetFramework="net45" />
  <package id="MonoGame.Framework.Portable" version="3.6.0.1625" targetFramework="net45" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.XAudio2" version="2.6.3" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
  <package id="WiimoteLib" version="1.7" targetFramework="net45" />
</packages>